@mixin huge {
    @media screen and (max-width: 1114px) {
        @content;
    }
}
@mixin very-big {
    @media screen and (max-width: 1050px) {
        @content;
    }
}
@mixin big {
    @media screen and (max-width: 970px) {
        @content;
    }
}
@mixin smol-big {
    @media screen and (max-width: 895px) {
        @content;
    }
}
@mixin medium {
    @media screen and (max-width:800px) {
        @content;
    }
}
@mixin medium_reduced {
    @media screen and (max-width:726px) {
        @content;
    }
}
@mixin reduced {
    @media screen and (max-width:690px) {
        @content;
    }
}
@mixin small {
    @media screen and (max-width:650px) {
        @content;
    }
}
@mixin small2{
    @media screen and (max-width: 618px) {
        @content;
    }
}
@mixin ultra-small {
    @media screen and (max-width: 576px) {
        @content;
    }
}
@mixin ultra-small_2{
    @media screen and (max-width: 520px) {
        @content;
    }
}
@mixin mega-small {
    @media screen and (max-width: 503px) {
        @content;
    }
}
@mixin mega-small2 {
    @media screen and (max-width: 457px) {
        @content;
    }
}
@mixin mega-small3 {
    @media screen and (max-width: 414px) {
        @content;
    }
}
@mixin mega-small4 {
    @media screen and (max-width: 393px) {
        @content;
    }
}
@mixin button {
    background: none;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5%;
    padding: 10px 20px;
    color: $color1;
}